@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{ 
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;

}
body{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(1180deg, black, grey
    );
}
.Calculator{
    
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 3px 25px rgba(129, 163, 233, 0.8);
}
input{
    width: 500px;
    border: none;
    padding:18px;
    margin: 18px;
    background: transparent;
    box-shadow: 1px 2px 3px rgba(255,232,218, 0.9);
    text-align: right;
    font-size: 40px;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color:white;
}
button{
    width: 90px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
     /* padding-left: 20px;  
    padding-right: 20px;  
    padding-top: 10px;    
    padding-bottom: 10px;  */
    /* background: none; */
    background: transparent;
    color: rgb(239, 242, 247);
    box-shadow: 1px 2px 1px rgba(255,232,218, 0.9);
    font-size: 30px;
    margin:8px;
    padding: 30px;
    /* text-align: center; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}
.equal{
    /* margin-top: ; */
    /* width: 200px; */
    background-color: rgb(255, 223, 205);
    /* background-color: orange; */
    color: black;
    
}